.*
*~
*.bak
*.pyc
slurm*
__pycache__

!/.gitignore

/data/events
/data/unweighted_events

/prototypes/flow/models_theano

/notes/*.aux
/notes/*.bbl
/notes/*.blg
/notes/*.log
/notes/*.out
/notes/*.toc
/notes/*.bak
/notes/*.fls
/notes/*.fdb_latexmk
/notes/*.lof
/notes/*.lot
/notes/*.fls
